# ignore compiled binaries
sofia-ml
sofia-kmeans
src/sofia-ml
src/sf-data-set_test
src/sf-hash-inline_test
src/sf-sparse-vector_test
src/sf-weight-vector_test
src/simple-cmd-line-helper_test
src/sofia-ml-methods_test
cluster-src/sofia-kmeans
cluster-src/sf-cluster-centers_test
cluster-src/sf-kmeans-methods_test
# ignore generated results
demo/model
demo/assignments.txt
demo/clusters.txt
demo/mapped_test_data.txt
demo/results.txt
